/*============= RESPONSIVE =============*/

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    .liens {
        display: none;
    }

    #nav-burger {
        display: block;
        margin-right: -250px;
    }

    /*=======================================*/

    .conteneur-photo figure {
        display: none
    }

    #block-1 article {
        text-align: center;
    }

    h5 .texte-gris {
        text-align: center;
    }

    .trait-rose {
        left: 200px;
    }

    .form-droite {
        display: none;
    }

    .texte-noir {
        text-align: center;
    }
    
    .texte-gris-2 {
        text-align: center;
    }

    /*=======================================*/

    #block-3 {
        background-image: none;
        padding-bottom: 0;
    }
    
    #block-4 {
        padding-top: 60px;
    }
    
}

@media screen and (max-width: 768px) {
    #block-3 .h1-1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 671px) {
    .texte-gris {
        margin-top: 200px;
    }

    .trait-rose {
        left: 100px;
        top: 420px;
    }

    
}